{% extends "base.html" %}
{% block title %}Сайты{% endblock %}
{% block content %}
<div class="table-responsive">
  <table class="table table-bordered table-hover text-nowrap" data-test="urls">
    <thead>
    <tr>
      <th>ID</th>
      <th>Имя</th>
      <th>Последняя проверка</th>
      <th>Код ответа</th>
    </tr>
    </thead>
    <tbody>
      {% for site in data %}
        <tr>
          <td>{{ site.id }}</td>
          <td>
            <a href="{{ url_for('get_url', url_id = site.id) }}">
              {{ site.name }}
            </a>
          </td>
          {% if site.last_check_date %}
          <td>{{ site.last_check_date }}</td>
          {% else %}
          <td></td>
          {% endif %}
          {% if site.status_code %}
          <td>{{ site.status_code }}</td>
          {% else %}
          <td></td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

